@media screen and (max-width:576px) {
    .contact-me-btn a {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 576px){
    .contact-me-btn a {
        width: 50%;
        margin: 0 auto;
    }
}

.contact-me-btn a {
    border-radius: 50px;
}