/* mobile view */
@media screen and (max-width:576px) {
    .skills-information img {
        width: 60px;
        height: 60px;
        margin-top: 30px;
    }

    .big-header {
        font-size: 2.2em;
    }

    .name {
        font-size: 1.5em;
    }

    .projects-information img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* large view */
@media screen and (min-width: 576px) {
    .skills-information img {
        width: 85px;
        height: 90px;
        margin-top: 50px;

    }

    .big-header {
        font-size: 2.5em;
    }

    .name {
        font-size: 1.8em;
    }

    .projects-information img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
}


/* general view */
body {
    background-color: #2A2C31;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-width: 320px;
}

.socials {
    width: 30%;
    height: 50px;
    background-color: #3E4147;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.socials a svg:hover {
    fill: #ffc857;
    transition: all 0.3s ease;
}

.hire-me-btn {
    background-color: #ffc857;
    width: 6em;
    height: 2.2em;
    border-radius: 50px;
    border: none;
    color: #323031;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
}

.big-header {
    font-weight: 900;
    color: #FFFFFF;
}

.profile-information {
    background-color: #3E4147;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-information img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: -80px;
    border: 6px solid #3E4147;
    object-fit: cover;
}

.name {
    font-weight: 900;
    letter-spacing: .8px;
    color: #FFFFFF;
}

.summary {
    font-size: 1.2em;
    font-weight: 300;
    color: #a5b3ce;
    width: 80%;
}

.button {
    background-color: #2A2C31;
    border-radius: 50px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
}

.resume-button {
    width: 230px;
    height: 60px;
    margin-top: 20px;
    font-size: 1em;
}

.view-more-button{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 1em;
}

.skills-information {
    border-radius: 10px;
    margin: 0 auto;
}

.small-header {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.projects-information {
    background-color: #3E4147;
    border-radius: 10px;
    margin: 0 auto;
}

.menu-text {
    color: #a5b3ce;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 700;
}

.active-icon svg path {
    fill: #ffc857;
    transition: all 0.2s ease;
}
.active-icon p, .aboutme-active-icon p {
    color: #ffc857;
    transition: all 0.2s ease;

}

.microjumper-bg {
    background: linear-gradient(135deg, #be5d34, #2A2C31);
}

/* .side-menu a:focus svg path, a:focus svg circle{
    fill: #ffc857;
    transition: all 0.2s ease;
}
.side-menu a:focus p {
    color: #ffc857;
    transition: all 0.2s ease;

}

.side-menu a:not(:focus):hover svg path, a:not(:focus):hover svg circle {
    fill: hsl(0, 0%, 100%, .9);
    transition: all 0.2s ease;
}

.side-menu a:not(:focus):hover p {
    color: hsl(0, 0%, 100%, .9);
    transition: all 0.2s ease;
} */