@media (max-width: 768px) {
    .project-buttons {
        margin-top: 250px;
    }

    .project-text {
        margin-top: 2em;
    }
}

@media (min-width: 768px) {
    .pysudan-logo {
        margin-top: -40px;
    }
}

.project-buttons a {
    padding: 5px 20px;
    /* margin-top: 20px; */
    font-size: 1em;
    background-color: #ffc857;
    border-radius: 20px;
    font-weight: 500;
}

.project-buttons a:hover {
    background-color: #ffbc36;
    color: #2A2C31;
}

.technologies img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
